.navbar {
  padding: 10px 0;
  background-color: #fff; }
  .navbar-brand {
    color: #111 !important;
    font-family: "Josefin Sans", sans-serif; }

.nav-link {
  color: #111 !important;
  font-size: 0.8em;
  text-transform: uppercase; }

.navbar-mobile {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #111;
  color: #fff;
  transition: all 0.4s ease-in;
  z-index: 999;
  position: absolute;
  top: 0;
  right: -300px; }

.navbar-close {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer; }

.navbar-mobile a {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: #fff; }
  .navbar-mobile a:hover {
    color: skyblue; }

.navbar-menu {
  cursor: pointer;
  color: #111; }

.show {
  right: 0;
  transition: all 0.4s ease-in; }

.navbar-sociais a {
  font-size: 1.5em;
  display: inline-block;
  margin: 2em 0.5em; }

@media (min-width: 768px) {
  .navbar-menu {
    opacity: 0; }
  .navbar-mobile {
    display: none; } }

@media (max-width: 768px) {
  .navbar-nav {
    display: none; }
  .container {
    width: 80%;
    margin: 0 auto; } }

.portfolio {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/projetos-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  .portfolio h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem; }
  .portfolio .card {
    border: 2px solid #111;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in; }
  .portfolio .card-nome {
    background-color: #111;
    color: #fff;
    padding: 1.3rem 0;
    display: none;
    transition: all 0.4s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .portfolio .card:hover > .card-nome {
    display: block;
    transition: all 0.4s ease-in; }

.services {
  padding: 7rem 0; }
  .services .fas {
    font-size: 2em;
    margin-bottom: 1rem;
    border: 1px solid #111;
    padding: 1rem;
    cursor: pointer; }
    .services .fas:hover {
      background: #111;
      color: #fff;
      transition: all 0.3s ease-in; }
  .services h4 {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 0.8rem; }

.showcase {
  width: 100%;
  height: 100vh;
  background-image: url(../img/showcase2.jpg);
  background-position: bottom center;
  background-size: cover; }
  .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: #111; }
    .showcase-content h2 {
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 1em;
      border-top: 1px solid #111;
      border-bottom: 1px solid #111;
      padding: 0.5em; }
    .showcase-content h1 {
      font-size: 1.3em;
      font-weight: 400;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 0.7rem; }

.showcase-btn {
  width: 90%; }

.btn-custom {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid #111;
  padding: 0.6rem 3rem;
  background-color: transparent;
  color: #111;
  margin: 0.6rem 1rem; }
  .btn-custom:hover {
    background-color: #111;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease-in; }

@media (min-width: 769px) {
  .showcase-content {
    width: 80%;
    margin: 0 auto; }
    .showcase-content h2 {
      font-size: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.7em;
      margin-bottom: 1em;
      border-top: 1px solid #111;
      border-bottom: 1px solid #111;
      padding: 0.5em; }
    .showcase-content h1 {
      font-size: 2em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      margin-bottom: 0.7rem; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 90.0%;
  background-color: #fff;
  color: #111;
  overflow-x: hidden; }

img {
  width: 100%;
  overflow: hidden; }
