.footer {
  padding: 3rem; }
  .footer-brand {
    font-size: 2rem;
    color: #424e4f; }
  .footer-info a {
    display: block;
    color: #424e4f; }
  .footer-icons a {
    color: #424e4f;
    font-size: 1.3rem;
    margin: 0.4rem; }
    .footer-icons a:hover {
      color: rgba(66, 78, 79, 0.3); }
  .footer-copyright span {
    display: block;
    color: #424e4f; }

.navbar {
  padding: 10px 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2; }
  .navbar-brand {
    color: #424e4f !important;
    font-family: "Josefin Sans", sans-serif; }

.nav-link {
  color: #424e4f !important;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem;
  transition: all 0.2s ease-out; }
  .nav-link:hover {
    background: #424e4f;
    color: #fff !important; }

.navbar-mobile {
  width: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #424e4f;
  color: #fff;
  transition: all 0.4s ease-in;
  z-index: 3;
  position: absolute;
  top: 0;
  right: -300px; }

.navbar-close {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 20px;
  cursor: pointer; }

.navbar-mobile a {
  font-size: 1.2em;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  color: #fff; }
  .navbar-mobile a:hover {
    color: #ccc; }

.navbar-menu {
  cursor: pointer;
  color: #424e4f; }

.show {
  right: 0;
  transition: all 0.4s ease-in;
  position: fixed; }

.navbar-sociais a {
  font-size: 1.5em;
  display: inline-block;
  margin: 2em 0.5em; }

@media (min-width: 768px) {
  .navbar-menu {
    opacity: 0; }
  .navbar-mobile {
    display: none; } }

@media (max-width: 762px) {
  .navbar-nav {
    display: none; }
  .container {
    width: 80%;
    margin: 0 auto; } }

.portfolio {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/projetos-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff; }
  .portfolio h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem; }
  .portfolio .card {
    border: 2px solid #424e4f;
    cursor: pointer;
    position: relative;
    transition: all 0.4s ease-in; }
  .portfolio .card-nome {
    background-color: #424e4f;
    color: #fff;
    padding: 1.3rem 0;
    display: none;
    transition: all 0.4s ease-in;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  .portfolio .card:hover > .card-nome {
    display: block;
    transition: all 0.4s ease-in; }
  .portfolio .btn-custom {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    margin-top: 2rem; }
    .portfolio .btn-custom:hover {
      background-color: white;
      color: #424e4f; }

.services {
  padding: 7rem 0; }
  .services .fas {
    font-size: 2em;
    margin-bottom: 1rem;
    border: 1px solid #424e4f;
    padding: 1rem;
    cursor: pointer; }
    .services .fas:hover {
      background: #424e4f;
      color: #fff;
      transition: all 0.3s ease-in; }
  .services h4 {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    margin-bottom: 0.8rem; }

.showcase {
  width: 100%;
  height: 100vh;
  background-image: url(../img/showcase2.jpg);
  background-position: bottom center;
  background-size: cover; }
  .showcase-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    color: #424e4f; }
    .showcase-content h2 {
      font-size: 1em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 1em;
      border-top: 1px solid #424e4f;
      border-bottom: 1px solid #424e4f;
      padding: 0.5em; }
    .showcase-content h1 {
      font-size: 1.3em;
      font-weight: 400;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin-bottom: 0.7rem; }

.showcase-btn {
  width: 90%; }

.btn-custom {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  border: 2px solid #424e4f;
  padding: 0.6rem 3rem;
  background: transparent;
  color: #424e4f;
  cursor: pointer;
  margin: 0.6rem 1rem; }
  .btn-custom:hover {
    color: #fff;
    background: #424e4f;
    text-decoration: none;
    transition: all 0.4s ease-in; }

@media (min-width: 769px) {
  .showcase-content {
    width: 80%;
    margin: 0 auto; }
    .showcase-content h2 {
      font-size: 1.5em;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.7em;
      margin-bottom: 1em;
      border-top: 1px solid #424e4f;
      border-bottom: 1px solid #424e4f;
      padding: 0.5em; }
    .showcase-content h1 {
      font-size: 2em;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      margin-bottom: 0.7rem; } }

.sobre {
  padding: 7rem 0; }
  .sobre-text h2 {
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4rem; }
    @media (min-width: 768px) {
      .sobre-text h2 {
        font-size: 2rem; } }
  .sobre cite {
    font-size: 1.2rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300; }
  .sobre h6 {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #424e4f; }
  .sobre p {
    font-weight: 300; }
  .sobre .progress-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem; }
    .sobre .progress-name span {
      font-size: 0.7rem;
      font-weight: 300;
      text-transform: uppercase; }
  .sobre .bg-dark {
    background-color: #424e4f !important; }
  .sobre .html {
    width: 95%;
    animation: html 2s;
    transition: all 2s ease-in-out; }
  .sobre .css {
    width: 80%;
    animation: css 2s;
    transition: all 2s ease-in-out; }
  .sobre .javascript {
    width: 75%;
    animation: javascript 2s;
    transition: all 2s ease-in-out; }
  .sobre .bootstrap {
    width: 85%;
    animation: bootstrap 2s;
    transition: all 2s ease-in-out; }

@keyframes html {
  0% {
    width: 0; }
  100% {
    width: 95%; } }

@keyframes css {
  0% {
    width: 0; }
  100% {
    width: 80%; } }

@keyframes javascript {
  0% {
    width: 0; }
  100% {
    width: 75%; } }

@keyframes bootstrap {
  0% {
    width: 0; }
  100% {
    width: 85%; } }

.sociais {
  padding: 5rem 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../img/sociais-bg.jpg);
  background-size: cover;
  background-attachment: fixed; }
  .sociais h2 {
    font-size: 2rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem; }
  .sociais-icons .fab {
    font-size: 3rem;
    margin: 1rem;
    color: #424e4f;
    border: 2px solid #424e4f;
    padding: 1rem;
    transition: all 0.3s ease-in; }
    .sociais-icons .fab:hover {
      background-color: #424e4f;
      color: #fff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-size: 90%;
  background-color: #fff;
  color: #424e4f;
  overflow-x: hidden; }

img {
  width: 100%;
  overflow: hidden; }

#home {
  scroll-behavior: smooth;
  overflow-y: scroll; }
