// Contact Section
.contact {
  padding: 7rem 0;

  //   Header
  &-header {
    width: 60%;
    text-align: center;
    margin: 0 auto;

    h3 {
      font-size: 2rem;
      font-family: $js-font-secondary;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 0.3rem;
      margin-bottom: 2rem;
    }
  }

  //   Contact info
  &-info {
    background-color: $js-dark;
    color: $js-light;
    padding: 1rem;
    border-radius: 5px;
  }
}
