.footer {
  padding: 3rem;
  background-color: $js-dark;
  color: $js-dark-alpha;

  &-brand {
    font-size: 2rem;
    color: $js-dark-alpha !important;
    &:hover {
      color: $js-light !important;
    }
  }

  &-info a {
    display: block;
    color: $js-dark-alpha;
  }

  &-icons a {
    color: $js-dark-alpha;
    font-size: 1.3rem;
    margin: 0.4rem;
    &:hover {
      color: $js-light;
    }
  }

  &-copyright span {
    display: block;
    color: $js-dark-alpha;
  }
}
