.footer {
  padding: 3rem;

  &-brand {
    font-size: 2rem;
    color: $js-dark !important;
    &:hover {
      color: $js-dark !important;
    }
  }

  &-info a {
    display: block;
    color: $js-dark;
  }

  &-icons a {
    color: $js-dark;
    font-size: 1.3rem;
    margin: 0.4rem;
    &:hover {
      color: rgba($js-dark, 0.3);
    }
  }

  &-copyright span {
    display: block;
    color: $js-dark;
  }
}
