// Mixin Border
@mixin borderStyle {
  border-top: 1px solid $js-dark;
  border-bottom: 1px solid $js-dark;
  padding: 0.5em;
}

// Mexin Shadow Box
@mixin shadowBtn {
  box-shadow: 0px 0px 10px rgba($js-dark, 3);
}
