// Section Portfolio
.portfolio {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/projetos-bg1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $js-light;

  // Heading
  h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: $js-font-secondary;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    margin-bottom: 5rem;
  }

  // Portfolio box
  &-box {
    border: 5px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(73, 73, 73, 0.5),
      rgba(173, 173, 173, 0.5)
    );
    border-image-slice: 1;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in;
    overflow: hidden;
  }

  // Efeitos Hover Box e Img
  &-box:hover .portfolio-info {
    opacity: 1;
    transform: translateX(0px);
  }

  &-box:hover .portfolio-img {
    opacity: 1;
    filter: grayscale(70);
  }

  // Portfolio img
  &-img {
    transition: all 0.4s ease-in;
    transform: translateX(0);
    filter: grayscale(0);
  }

  // Portfolio box info
  &-info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.3s ease-in;

    .fas {
      font-size: 1.7rem;
      color: $js-dark-alpha;
      background-color: $js-dark;
      border-radius: 5px;
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
  }

  // Button Custom background
  .btn-custom {
    background-color: transparent;
    border: 2px solid $js-light;
    color: $js-light;
    margin-top: 2rem;

    &:hover {
      background-color: lighten($js-light, 2);
      color: $js-dark !important;
    }
  }
}
