// Section Portfolio
.portfolio {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/projetos-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $js-light;

  // Heading
  h2 {
    font-size: 2rem;
    font-weight: 400;
    font-family: $js-font-secondary;
    letter-spacing: 0.4rem;
    margin-bottom: 2rem;
  }

  // Portfolio box
  &-box {
    border: 5px solid transparent;
    border-image: linear-gradient(
      90deg,
      rgba(73, 73, 73, 0.5),
      rgba(173, 173, 173, 0.5)
    );
    border-image-slice: 1;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in;
  }

  &-box:hover .portfolio-info {
    opacity: 1;
  }

  // Portfolio box info
  &-info {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: $js-dark;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.2s ease-in;

    .fas {
      font-size: 1.7rem;
      color: $js-light;
      margin-bottom: 1rem;
    }
  }

  // Button Custom mudança do background
  .btn-custom {
    background-color: transparent;
    border: 2px solid $js-light;
    color: $js-light;
    margin-top: 2rem;

    &:hover {
      background-color: lighten($js-light, 2);
      color: $js-dark;
    }
  }
}
