// Sobre Section
.sobre {
  padding: 7rem 0;

  &-text h2 {
    font-size: 1.2rem;
    font-family: $js-font-secondary;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4rem;

    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }

  cite {
    font-size: 1.2rem;
    font-family: $js-font-secondary;
    font-weight: 300;
  }

  h6 {
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    // Line
    &::after {
      content: "";
      display: block;
      margin-top: 1rem;
      border-bottom: 1px solid lighten($js-dark-alpha, 10%);
    }
  }

  p {
    font-weight: 300;
  }

  .progress-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    span {
      font-size: 0.7rem;
      font-weight: 300;
      text-transform: uppercase;
    }
  }

  .bg-dark {
    background-color: $js-dark !important;
  }

  .html {
    width: 95%;
    animation: html 2s;
    transition: all 2s ease-in-out;
  }

  .css {
    width: 80%;
    animation: css 2s;
    transition: all 2s ease-in-out;
  }

  .javascript {
    width: 75%;
    animation: javascript 2s;
    transition: all 2s ease-in-out;
  }

  .bootstrap {
    width: 85%;
    animation: bootstrap 2s;
    transition: all 2s ease-in-out;
  }
}

// Keyframes
@keyframes html {
  0% {
    width: 0;
  }

  100% {
    width: 95%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }

  100% {
    width: 80%;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }

  100% {
    width: 75%;
  }
}

@keyframes bootstrap {
  0% {
    width: 0;
  }

  100% {
    width: 85%;
  }
}
