// Varibles Custumers Project...

// Colors Custumers
$js-dark: #2d3239;
$js-dark-alpha: #5c6164;
$js-light: #fff;
// Fontes Custumers
$js-font-primary: "Lato", sans-serif;
$js-font-secondary: "Josefin Sans", sans-serif;

// Imports Files
@import "contact";
@import "footer";
@import "mixins";
@import "navbar";
@import "portfolio";
@import "services";
@import "showcase";
@import "sobre";
@import "sociais";

// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $js-font-primary;
  font-size: 90%;
  background-color: $js-light;
  color: $js-dark;
  overflow-x: hidden;
}

img {
  width: 100%;
  overflow: hidden;
}

// Hover Efect
#home {
  scroll-behavior: smooth;
  overflow-y: scroll;
}
