// ## Varibles ##
$js-dark: #111;
$js-light: #fff;

$js-font-primary: 'Lato', sans-serif;
$js-font-secondary: 'Josefin Sans', sans-serif;

// ## Imports ##
@import 'footer';
@import 'mixins';
@import 'navbar';
@import 'portfolio';
@import 'services';
@import 'showcase';
@import 'sobre';
@import 'sociais';


// ## Reset ##
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $js-font-primary;
    font-size: 90.0%;
    background-color: $js-light;
    color: $js-dark;
    overflow-x: hidden;
}

img {
    width: 100%;
    overflow: hidden;
}

#home  {
    scroll-behavior: smooth;
    overflow-y: scroll;
    transition: all 0.5s ease-in;
}
// 768px mobile close